.meme-generator {
  font-family: sans-serif;
  text-align: center;
}

.meme-generator img {
  height: 430px;
  /* width: 400px;  */
  /* background-color: red; */
  object-fit: cover;
}

.meme-generate-btn {
  padding: 8px 20px;
  border-radius: 25px;
  background-color: rgba(173, 147, 185, 0.849);
  margin: 24px 0;
  font-size: 25px;
  color: white;
  background: linear-gradient(to right, #ff0000, #00ff6e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: -1;
  font-weight: bold;
  cursor: pointer;
}

.meme-generate-btn:hover {
  padding: 8px 36px;
  letter-spacing: 3px;
}

.meme-author {
  margin: 8px;
}
